<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Deudas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="limpiar()">
        <ion-icon name="refresh" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-list lines="full" class="ion-no-padding">
    <ion-list-header *ngIf="mostrarUltimo" color="medium">
      <ion-label>Ultima deuda con saldo</ion-label>
    </ion-list-header>
    <app-componentes-item-deuda [item]="ultimo" [ultimo]="true" class="animated fadeIn" *ngIf="mostrarUltimo"></app-componentes-item-deuda>
    <ion-list-header *ngIf="mostrarUltimo" color="medium">
      <ion-label>Listado por fecha</ion-label>
    </ion-list-header>
    <ion-item *ngIf="total==0 && !consultando">
      No hay deudas del afiliado
    </ion-item>
    <ng-container *ngFor="let item of listado">
      <app-componentes-item-deuda [item]="item" [ultimo]="isUltimo(item)" class="animated fadeIn"></app-componentes-item-deuda>
    </ng-container>
  </ion-list>
  <ion-grid *ngIf="listado.length == 0 && consultando">
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-spinner 
          name="lines" color="primary"
          style=" position: initial;"
          ></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="total>0"
    [disabled]="refresherDisabled">
    <ion-infinite-scroll-content
      loadingSpinner="lines"
      loadingText="Consultando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>