<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title text-center>
      <img src="assets/imgs/logo.png" height="40px" />
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content no-padding>
  <ion-grid>
    <ion-row no-padding>
      <ion-col >
        <ion-item button="true" 
          color="secondary"
          (click)="ver_deudas()" >
          <ion-label>
            <b>
              MIS DEUDAS
            </b>
            <div slot="end" text-end>
              <ion-icon src="assets/icons/debt-icon.svg"></ion-icon>
            </div>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item button="true"
          color="secondary"
          (click)="ver_aportes()" >
          <ion-label>
            <b>
              MIS APORTES
            </b>
            <div slot="end" text-end>
              <ion-icon src="assets/icons/input-icon.svg"></ion-icon>
            </div>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item button="true"
        color="secondary"
        (click)="ver_recibos()">
        <ion-label>
          <b>
            MIS RECIBOS
          </b>
          <div slot="end" text-end>
            <ion-icon src="assets/icons/bill-icon.svg"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" (ionRefresh)="actualizar($event)">
    <ion-refresher-content
      refreshingSpinner="lines"
    ></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full" #slidingList>
    <ion-list-header color="light" padding>
      <ion-label>
        <h4>Novedades</h4>
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of novedades" class="animated fadeIn">
      <ion-label (click)="link_entry(item.link)">
        <h2 text-wrap class="post-title">{{item.post_title}}</h2>
        <ion-img [src]="'data:image/jpeg;base64,'+item.image" class="animated fadeIn"></ion-img>
        <p text-wrap class="entry">{{item.entry}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>
  <ion-grid *ngIf="consultando && novedades">
    <ion-row align-items-center>
      <ion-col align-self-center>
        <ion-spinner 
          name="lines" color="primary"
          style=" position: initial;"
          ></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item button="true" lines="none" *ngIf="novedades" padding (click)="ver_novedades()">
    <ion-label>
      Mas novedades...
    </ion-label>
  </ion-item>
  <ion-grid>
    <ion-row *ngIf='!novedades' justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <ion-spinner name="lines" color="primary" ></ion-spinner>
    </ion-row>
  </ion-grid>
</ion-content>
